<ul>
  <% @restaurants.each do |r| %>
    <div class="card mt-4 mb-4">
      <h4 class="card-header"><%= link_to r.name, restaurant_path(r) %> <%= @flags[r.category] %></h4>
      <div class="card-body">
        <p class="card-text mb-0"><%= r.address %></p>
        <p class="card-text mb-0"><%= r.phone_number %></p>
      </div>
    </div>
  <% end %>
</ul>
