$theme-colors: (
  "primary": #6610f2,
);

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: white;
}

a:hover {
  text-decoration: none;
}

.navbar {
  border-bottom: 1px solid #E3E3E3;
}

.icon-container {
  width: 25px;
  float: left;
}
